!!! 5
%html{'ng-app' => :app, lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: :viewport, content: "width=device-width, initial-scale=1.0"}
    %title= ::Base::NAME
    = stylesheet_link_tag ::Base::BASE_FILE, media: :all
    %link{rel: :icon, type: 'image/png', href: "/images/favicon.ico?v=#{::Base::VERSION}"}
  %body
    %h1.rails
      Hello world, I'm Rails
    .ui-view
    = javascript_include_tag ::Base::BASE_FILE
